@media only screen and (max-width: 700px) {
  header {
    display: flex;
    justify-content: space-between;
    padding: 1.3em;
  }
  #nav-menu{
    display: none;
  }
  
  .idioma {
    display: none;
  }

  span.material-symbols-rounded
  {
    display: block;
  }

  main{
    display: flex;
    flex-direction: column;
  }

.content-navright a {
  color: white;
}

.video {
  /* border: 2px solid; */
  height: fit-content;
}
  .video video {
    height: 300px;
    transition: height 0.7s ease-out;
    /* border: 2px solid; */
  }

}


@media (max-width: 700px){
  .equipecontent{
      flex-wrap: wrap;
  }

  .foocontet {
      flex-direction: column;
  }
}

