@media only screen and (max-width: 600px) {
  header {
    display: flex;
    justify-content: space-between;
  }
  .sumir {
    display: none;
  }
  .idioma {
    display: none;
  }

span.material-symbols-rounded
{
  display: block;
}

}